.App {
  background: url('C:\Users\maimo\Desktop\reactProject\my-react-app\src\back.jpg') no-repeat center center fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 36px;
  color: #000000be;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.start-screen {
  text-align: center;
}

.name-inputs {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.start-button {
  padding: 10px 20px;
  background-color: #ff0000af;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.start-button:hover {
  background-color: #ff000048; 
}

.next-around {
  padding: 10px 20px;
  background-color: #ff0000af;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.next-around:hover {
  background-color: #ff000048; 
}




.game-screen {
  text-align: center;
}

.players {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.player {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.active {
  border-color: #ff0000;
}

.player button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #ff00008d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.player button:hover {
  background-color: #ff000051; 
}

.round-winner,
.game-winner {
  font-size: 25px;
  margin-top: 20px;
  font-weight: bold;
}

.play-again-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.play-again-button:hover {
  background-color: #28a746c2; 
}






